<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_OzV20-4XJwYiqx1X9X9qLlncw_d8758</string>
	<key>GCM_SENDER_ID</key>
	<string>568414792949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.renconsport</string>
	<key>PROJECT_ID</key>
	<string>reconsport-marco</string>
	<key>STORAGE_BUCKET</key>
	<string>reconsport-marco.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568414792949:ios:88760a56e80b442a21a9bc</string>
</dict>
</plist>